.main-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
  
    
}

.item-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
   
}

.item-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selectors {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-price {
    font-weight: bold;
    margin-top: 10px;
}
